.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 15px;
  }
  
.student-information-value {
    background-color: #EFEFEF;
}

.student-information-attribute {
    color: #E0D1A5;
    background-color: #005A41;
}