.Flow {
  flex-grow: 1;
  font-size: 12px;
}

.react-flow__node-custom {
  border: 1px solid #555;
  padding: 8px;
  width: 150px;
  height: 60px;
  font-Size: 11px;
  border-radius: 5px;
  text-align: center;
}
